# 빅데이터 3일차 과제 (박윤지)

### Exercise 61: Average

In [9]:
import math

In [11]:
myList = []
while 1:
    a = input()
    try:
        b = float(a)
        if b == 0:
            break
        myList.append(b)
    except ValueError:
        print('숫자를 입력하세요.')

print('<result>')
print(math.fsum(myList)/len(myList))

1
2
3
4
5
0
<result>
3.0

### Exercise 63: Temperature Conversion Table

In [12]:
import pandas as pd

In [13]:
def Cel_to_Fa(Cel):
    return (Cel*1.8)+32

data = []
for i in range(0, 10):
    tempList = []
    for j in range(0, 10):
        tempList.append(Cel_to_Fa(10*j+i))
    data.append(tempList)

myDict = dict()
k = 0
for i in range(0,10):
    myDict[i] = data[i]
    
df = pd.DataFrame(myDict, index=[str(i) for i in range(0,100,10)])
df

        0      1      2      3      4      5      6      7      8      9
0    32.0   33.8   35.6   37.4   39.2   41.0   42.8   44.6   46.4   48.2
10   50.0   51.8   53.6   55.4   57.2   59.0   60.8   62.6   64.4   66.2
20   68.0   69.8   71.6   73.4   75.2   77.0   78.8   80.6   82.4   84.2
30   86.0   87.8   89.6   91.4   93.2   95.0   96.8   98.6  100.4  102.2
40  104.0  105.8  107.6  109.4  111.2  113.0  114.8  116.6  118.4  120.2
50  122.0  123.8  125.6  127.4  129.2  131.0  132.8  134.6  136.4  138.2
60  140.0  141.8  143.6  145.4  147.2  149.0  150.8  152.6  154.4  156.2
70  158.0  159.8  161.6  163.4  165.2  167.0  168.8  170.6  172.4  174.2
80  176.0  177.8  179.6  181.4  183.2  185.0  186.8  188.6  190.4  192.2
90  194.0  195.8  197.6  199.4  201.2  203.0  204.8  206.6  208.4  210.2

### Exercise 66: Compute a Grade Point Average

In [14]:
myGradeList = []
myGradeSum = 0
myGradeCnt = 0
gradeDict = {'A+':4.0, 'A':4.0, 'A-':3.7, 'B+':3.3, 'B':3.0, 'B-':2.7, 'C+':2.3, 'C':2.0, 'C-':1.7, 'D+':1.3, 'D':1.0, 'F':0}
while 1:
    a = input()
    if a == '':
        break
    if a not in gradeDict:
        print('It is not a grade.')
        continue
#    myGradeList.append(a)
    myGradeSum += gradeDict[a]
    myGradeCnt += 1

print(myGradeSum/myGradeCnt)

A
C+
B

3.1

### Exercise 67: Admission Price

In [15]:
myList = []
myPriceSum = .00
while 1:
    a = input()
    if a == '':
        break
        
    try:
        b = int(a)
        if b >=65 :
            myPriceSum += 18.00
        elif 3<= b <= 12:
            myPriceSum += 14.00
        elif b <=2:
            pass
        else:
            myPriceSum += 23.00
            
    except ValueError:
        print('숫자를 입력하세요.')

print('%.2f'%myPriceSum)

4
2
34
67

55.00

### Exercise 72: Is a String a Palindrome?

In [16]:
myStr = input()
flag = True

for i in range(len(myStr)//2):
    if not myStr[i] == myStr[-i-1]:
        flag = False
        break
        
if flag is True:
    print(myStr,'is a PalinDrome!')
else:
    print(myStr,'is not a PanlinDrome!')

civic
civic is a PalinDrome!

### Exercise 74: Multiplication Table

In [17]:
for i in range(11):
    for j in range(11):
        if i is 0 and j is 0:
            print(end='    ')
        elif i is 0 and j is not 0:
            print('%3d'%j,end=' ')
        elif i is not 0 and j is 0:
            print('%3d'%i,end=' ')
        else:
            print('%3d'%(i*j), end=' ')
    print()

      1   2   3   4   5   6   7   8   9  10
  1   1   2   3   4   5   6   7   8   9  10
  2   2   4   6   8  10  12  14  16  18  20
  3   3   6   9  12  15  18  21  24  27  30
  4   4   8  12  16  20  24  28  32  36  40
  5   5  10  15  20  25  30  35  40  45  50
  6   6  12  18  24  30  36  42  48  54  60
  7   7  14  21  28  35  42  49  56  63  70
  8   8  16  24  32  40  48  56  64  72  80
  9   9  18  27  36  45  54  63  72  81  90
 10  10  20  30  40  50  60  70  80  90 100

### Exercise 75: Greatest Common Divisor

In [18]:
# 입력부
myIntList = []
cnt = 0
result = -1
while cnt < 2:
    a = input()
    try:
        b = int(a)
        if b <= 0:
            print('Not Positive Integer')
            continue
        myIntList.append(b)
        cnt += 1
    except ValueError:
        print('Not Integer')

for d in range(min(myIntList),0,-1):
    if myIntList[0] % d == 0 and myIntList[1] %d == 0 :
        result = d
        break

if result > 0:
    print(result,'is the greatest common divisor of',myIntList[0], 'and', myIntList[1])
else:
    print('There is no common divisior of', myIntList[0], 'and', myIntList[1])

25
75
25 is the greatest common divisor of 25 and 75

### Exercise 77: Binary to Decimal

In [2]:
Flag = True
while Flag:
    myBi = input()
    if not str.isdigit(myBi):
        print('Not binary digit')
        continue
    for i in myBi:
        if (i is not '0') and (i is not '1'):
            print('Not binary digit')
            break
        if i is myBi[-1]:
            Flag = False

print(int(myBi,2))

a
Not binary digit
32
Not binary digit
11
3

### Exercise 78: Decimal to Binary

In [8]:
myDecimal = -1
while 1:
    myDecimal = input()
    if not str.isdigit(myBi):
        print('Not binary digit')
        continue
    myDecimal = int(myDecimal)
    break

results = ''
q = myDecimal
while q>0:
    r = q% 2
    results = str(r) + results
    q = q//2

print(results)

31
11111